html{
    scroll-behavior: smooth;
}
.message-container{
    width: 50%;
    border-left: 2px solid white;
    border-right: 2px solid white;
    background: black;
    margin: 0 auto;
    z-index: 0;
    padding: 0 0 80px 0;
    /* height: calc( 100vh - 150px); */
    min-height: calc( 100vh - 160px);
}
.height{
    position: fixed;
    display: flex;
    top: 80px;
    left: 25%;
    margin: auto;
    height: 50px;
    z-index: 86;
    background: green;
    width: 50%;
}
.height b{
    text-align: center;
    margin: auto;
    font-size: 1.3rem;
}
.height b a{
    text-decoration: none;
    color: wheat;
}
.leftright{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding: 10px 0;
}
.leftright p{
    color: black;
    background: black;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 20px;
    margin: 0 10px 0 0;
    position: relative;
}
.message-container .right{
    width: 60%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding: 10px 0;
}
.message-container .right p{
    color: white;
    background: blue;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 20px;
    margin: 0 10px 0 0;
    position: relative;
}
.message-container .left{
    width: 60%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    padding: 10px 0;
}
.message-container .left p{
    color: white;
    background: red;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 20px;
    margin: 0 0 0 10px;
    position: relative;
}
.message-container .left img{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
form{
    height: 80px;
    width: 50%;
    margin: 0 auto;
    z-index: 86;
    background: black;
    display: flex;
}
form textarea{
    width: 90%;
    height: 100px;
    outline: none;
    border: none;
    margin: 0 0 50px 0;
    font-size: 1.2rem;
    resize: none;
    padding: 5px 0 0 8px;
}
.fixed{
    position: fixed;
    top: calc(100% - 80px);
    left: 25%;
    margin: auto;
    height: 80px;
}
.fixed input{
    color: white;
    background: black;
    width: 10%;
    cursor: pointer;
}
.padding-2{
    height: 50px;
    width: 100%;
}
.message-container{
    padding-top: 80px;
}
a.acitve-message{
  color: #fff;
  background: #2196f3;
  border-radius: 40px;
}
@media (max-width:1024px){
    .message-container{
        width: 90%;
        border: none;
    }
    .height{
        top: 100px;
        left: 5%;
        width: 90%;
    }
    form{
        width: 90%;
    }
    .fixed{
        left: 5%;
    }
    form textarea{
        width: 80%;
        font-size: .9rem;
    }
    .fixed input{
        width: 19%;
    }
    .message-container .left p{
        font-size: .8rem;
    }
    .message-container .right p{
        font-size: .8rem;
    }
}